<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="boardSave" parameterType="board" useGeneratedKeys="true" keyProperty="boardId">
        insert into board_table (boardWriter,boardTitle,boardContents,fileAttached)
        values (#{boardWriter},#{boardTitle},#{boardContents},#{fileAttached})
    </insert>
    <insert id="saveFile" parameterType="board">
        insert into board_file_table(originalFileName,storedFileName,boardId)
        values (#{originalFileName},#{storedFileName},#{boardId})
    </insert>

    <select id="findAll" resultType="board">
        select * from board_table order by boardId asc
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table order by id asc limit #{start},#{limit}
    </select>
</mapper>